@model HomeViewModel


@section Scripts
	{

	<script type="text/javascript" src="@Url.Content("/js/Chart.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("/lib/bootstrap/dist/js/bootstrap-datepicker.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("/lib/bootstrap/dist/js/bootstrap-datepicker.es.js")"></script>

	<script>
		var chart;

		function GetFormatDate(date) { 
			return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
		}

		function getData() {						
			var desde = GetFormatDate($('#fechaDesde').datepicker('getDate'));						
			var hasta = GetFormatDate($('#fechaHasta').datepicker('getDate'));	

			$.ajax({
				url: "@Url.Action("GetDataBetweens", "DataApi")",
				data: { Desde: desde, Hasta: hasta },
				success: function (data) {
					chart.data.datasets[0].data = data.normal;
					chart.data.datasets[1].data = data.anormales;
					chart.update();
				 },
				dataType: "json"
			});
		}

		$(function () {
			chart = NewInstanceChart("chart", 20);			
			$('#fechaDesde').datepicker({				
				language: 'es',
				autoclose: true
			});

			$('#fechaHasta').datepicker({				
				language: 'es',
				autoclose: true
			});

			var ayer = new Date();
			ayer.setDate(ayer.getDate() - 1);

			$('#fechaDesde').datepicker('update', ayer);
			$('#fechaHasta').datepicker('update', ayer);
			getData();
		});
	</script>

}

<div class="container" style="margin-top:10px">
	<div class="row">
		<div class='col-sm-3'>
			<div class="form-group">
				<label>Fecha Desde</label>
				<div class='input-group date' id='fechaDesde'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>

		<div class='col-sm-3'>
			<div class="form-group">
				<label>Fecha Hasta</label>
				<div class='input-group date' id='fechaHasta'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>

		<div class='col-sm-3'>
			<div class="form-group">
				<button onclick="getData()">Filtrar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-8'>
			<div class="form-group">
				<canvas id="chart" width="400" height="400"></canvas>
			</div>
		</div>
	</div>
</div>
